/* ZEROING START */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: #FAFBFF;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ZEROING END */
.wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Sidebar */
  /* Customers table */
}
.wrapper__content .sidebar__container {
  padding-top: 37px;
  width: 306px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}
.wrapper__content .sidebar__header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  margin-bottom: 65px;
}
.wrapper__content .sidebar__header .header-logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 5px;
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1px;
}
.wrapper__content .sidebar__menu {
  position: relative;
  padding-left: 39px;
}
.wrapper__content .sidebar__menu .menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper__content .sidebar__menu .menu__list-activ::before {
  content: "";
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 28px;
  border-radius: 8px;
  background: #5932EA;
  width: 250px;
  padding-left: -20px;
  height: 46px;
}
.wrapper__content .sidebar__menu .menu__arrow {
  position: absolute;
  right: 0;
  background: url(../img/sidebar-icon/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 36px;
}
.wrapper__content .sidebar__menu .menu__arrow-white {
  position: absolute;
  right: 0;
  background: url(../img/sidebar-icon/arrow-right-white.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 36px;
}
.wrapper__content .sidebar__menu .menu__link .menu-text {
  margin-left: 15px;
  color: #9197B3;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.wrapper__content .sidebar__menu .menu__link .menu-text-activ {
  color: #FFF;
}
.wrapper__content .sidebar nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.wrapper__content .sidebar nav li:last-child {
  padding-bottom: 597px;
}
.wrapper__content .sidebar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}
.wrapper__content .sidebar__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  padding-bottom: 76px;
}
.wrapper__content .sidebar__person-info .person-info__block-text {
  margin-left: 12px;
}
.wrapper__content .sidebar__person-info .person-info__name {
  color: #000;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
.wrapper__content .sidebar__person-info .person-info-description {
  color: #838383;
}
.wrapper__content .main__block {
  padding-top: 41px;
}
.wrapper__content .main__user-name {
  padding-left: 71px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.wrapper__content .main__user-name span::after {
  content: url(../img/sidebar-icon/Vector.svg);
}
.wrapper__content .main .customers-info {
  margin-left: 146px;
  margin-top: 147px;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  border-radius: 40px;
  width: 968px;
  height: 812px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}