/* ZEROING START */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: #FAFBFF;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ZEROING END */
body._lock {
  overflow: hidden;
}

.wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper__content .sidebar__container {
  padding-top: 37px;
  width: 306px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__container {
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    padding-top: 0;
    z-index: 300;
  }
  .wrapper__content .sidebar__container._active {
    left: 0;
  }
}
.wrapper__content .sidebar__header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  margin-bottom: 65px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__header .header-logo-img {
    padding: 20px 0 20px 20px;
  }
}
.wrapper__content .sidebar__header .header-logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 5px;
  color: #838383;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.6;
  letter-spacing: -0.1px;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__header .header-logo-text {
    padding: 10px 10px 20px 0;
  }
}
.wrapper__content .sidebar__menu {
  position: relative;
  padding-left: 39px;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__menu {
    padding-left: 45px;
  }
}
.wrapper__content .sidebar__menu .menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper__content .sidebar__menu .menu__list-activ::before {
  content: "";
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 28px;
  border-radius: 8px;
  background: #5932EA;
  width: 250px;
  height: 46px;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__menu .menu__list-activ::before {
    width: 260px;
    left: 35px;
  }
}
.wrapper__content .sidebar__menu .menu__arrow {
  position: absolute;
  right: 0;
  background: url(../img/sidebar-icon/arrow-right-gray.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 36px;
}
.wrapper__content .sidebar__menu .menu__arrow-white {
  position: absolute;
  right: 0;
  background: url(../img/sidebar-icon/arrow-right-white.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 36px;
}
.wrapper__content .sidebar__menu .menu__link .menu-text {
  margin-left: 15px;
  color: #9197B3;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.wrapper__content .sidebar__menu .menu__link .menu-text-activ {
  color: #FFF;
}
.wrapper__content .sidebar nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.wrapper__content .sidebar nav li:last-child {
  padding-bottom: 597px;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar nav li:last-child {
    padding-bottom: 10px;
  }
}
.wrapper__content .sidebar nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}
.wrapper__content .sidebar__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28px;
  padding-bottom: 76px;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar__person-info {
    padding-left: 45px;
  }
}
.wrapper__content .sidebar__person-info .person-info__block-text {
  margin-left: 12px;
}
.wrapper__content .sidebar__person-info .person-info__name {
  color: #000;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
.wrapper__content .sidebar__person-info .person-info-description {
  color: #838383;
}
.wrapper__content .sidebar .menu__icon {
  display: none;
}
@media (max-width: 1024px) {
  .wrapper__content .sidebar .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
    z-index: 350;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 20px;
    left: 10px;
    width: 30px;
    height: 21px;
  }
  .wrapper__content .sidebar .menu__icon span {
    height: 3px;
    width: 75%;
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 40px;
    background: blue;
    top: 50%;
  }
  .wrapper__content .sidebar .menu__icon::before, .wrapper__content .sidebar .menu__icon::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 40px;
    background: blue;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .wrapper__content .sidebar .menu__icon::before {
    top: 0;
  }
  .wrapper__content .sidebar .menu__icon::after {
    bottom: 0;
  }
  .wrapper__content .sidebar .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .wrapper__content .sidebar .menu__icon._active::before {
    top: 47%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .wrapper__content .sidebar .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.wrapper__content .main {
  width: 1114px;
  overflow: auto;
}
.wrapper__content .main__block {
  padding-top: 41px;
}
@media (max-width: 1024px) {
  .wrapper__content .main__block {
    padding-top: 20px;
    overflow: auto;
  }
}
.wrapper__content .main__user-name {
  padding-left: 71px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1024px) {
  .wrapper__content .main__user-name {
    padding-left: 50px;
  }
}
.wrapper__content .main__user-name span::after {
  content: url(../img/sidebar-icon/Vector.svg);
}
.wrapper__content .main .dashboard-list {
  text-align: left;
  margin-left: 146px;
  margin-top: 146px;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  border-radius: 40px;
}
@media (max-width: 1024px) {
  .wrapper__content .main .dashboard-list {
    margin: 50px 30px 30px 0;
  }
}
.wrapper__content .main .dashboard-list__container {
  overflow: auto;
}
.wrapper__content .main .dashboard-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper__content .main .dashboard-list__header-text .header-text__title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin: 30px 0 7px 40px;
}
@media (max-width: 1024px) {
  .wrapper__content .main .dashboard-list__header-text .header-text__title {
    margin: 20px;
  }
}
.wrapper__content .main .dashboard-list__header-text .header-text__subtitle {
  color: #16C098;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  margin: 0 0 40px 40px;
}
@media (max-width: 1024px) {
  .wrapper__content .main .dashboard-list__header-text .header-text__subtitle {
    margin: 20px;
  }
}
@media (max-width: 1024px) {
  .wrapper__content .main .dashboard-list__header-search-form {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.wrapper__content .main .dashboard-list__header-search-form .form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 67px;
  position: relative;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search {
  max-width: 216px;
  height: 38px;
  border-radius: 10px;
  background: #F9FBFF;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
  padding-left: 40px;
  margin-bottom: 15px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search:hover, .wrapper__content .main .dashboard-list__header-search-form .form-block .input-search:focus {
  border: grey 1px solid;
  border-radius: 10px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search::-webkit-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search::-moz-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search:-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search::-ms-input-placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .input-search::placeholder {
  color: #B5B7C0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}
.wrapper__content .main .dashboard-list__header-search-form .form-block .search-icon {
  position: absolute;
  background: url(../img/sidebar-icon/search-icon.svg) no-repeat center;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 15px;
}
.wrapper__content .main .dashboard-list .table-block {
  overflow: auto;
  margin: 10px;
}
.wrapper__content .main .dashboard-list .table-block table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.wrapper__content .main .dashboard-list .table-block table thead {
  color: #B5B7C0;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.wrapper__content .main .dashboard-list .table-block table thead th {
  padding-bottom: 14px;
  border-bottom: #eee 1px solid;
}
.wrapper__content .main .dashboard-list .table-block table thead th:first-child {
  width: 40px;
}
.wrapper__content .main .dashboard-list .table-block table thead th:last-child {
  width: 40px;
}
.wrapper__content .main .dashboard-list .table-block table tbody {
  color: #292D32;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.wrapper__content .main .dashboard-list .table-block table tbody tr:last-child td:last-child {
  border-bottom: #eee 1px solid;
}
.wrapper__content .main .dashboard-list .table-block table tbody td {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: #eee 1px solid;
}
.wrapper__content .main .dashboard-list .table-block table tbody td:first-child {
  border-bottom: transparent 1px solid;
}
.wrapper__content .main .dashboard-list .table-block table tbody td:last-child {
  width: 47px;
  border-bottom: transparent 1px solid;
}
.wrapper__content .main .dashboard-list .table-block table tbody button {
  text-align: center;
}
.wrapper__content .main .dashboard-list .table-block table tbody .table-btn-active {
  width: 79px;
  border-radius: 4px;
  border: 1px solid #00B087;
  background: rgba(22, 192, 152, 0.38);
  padding: 4px 12px;
  color: #008767;
}
.wrapper__content .main .dashboard-list .table-block table tbody .table-btn-inactive {
  width: 79px;
  border-radius: 4px;
  border: 1px solid #DF0404;
  background: #FFC5C5;
  padding: 4px 12px;
}
.wrapper__content .main .dashboard-list .table-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 40px 30px 40px;
}
@media (max-width: 1024px) {
  .wrapper__content .main .dashboard-list .table-pagination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 20px;
  }
}
.wrapper__content .main .dashboard-list .table-pagination .pagination-text {
  color: #B5B7C0;
}
.wrapper__content .main .dashboard-list .table-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper__content .main .dashboard-list .table-pagination .pagination a {
  color: #404B52;
  padding: 6px 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin: 0 6px;
  border-radius: 4px;
  border: 1px solid #EEE;
  background: #F5F5F5;
}
.wrapper__content .main .dashboard-list .table-pagination .pagination a.active {
  border-radius: 4px;
  border: 1px solid #5932EA;
  background: #5932EA;
  color: #fff;
}
.wrapper__content .main .dashboard-list .table-pagination .pagination a:hover:not(.active) {
  background-color: #ddd;
}