@use "reset.scss";
@use "media.scss";


body {
	&._lock {
		overflow: hidden;
	}
}
.wrapper__content {

		display: flex;

	// Sidebar
	.sidebar {
	
			&__container {
				padding-top: 37px;
				width: 306px;
				height: 100%;
				flex-shrink: 0;
				background: #FFF;
				box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);

				@include media.landscape {
					position: fixed;
					top: 0;
					left: -100%;
					max-width: 100%;
					height: 100%;
					background-color: #000;
					transition: left 0.3s ease 0s;
					overflow: auto;
					padding-top: 0;
					z-index: 300;
			
					&._active {
						left: 0;
						
					}
				}
			}
	
			&__header {
				.header__logo {
					display: flex;
					padding-left: 28px;
					margin-bottom: 65px;
					background-color: #fff;
				}
	
				.header-logo-img {

					@include media.landscape {
						padding: 20px 0 20px 20px;
					}
				}
	
				.header-logo-text {
					display: flex;
					align-items: end;
					margin-left: 5px;
					color: #838383;
					font-size: 10px;
					font-weight: 500;
					line-height: 2.6;
					letter-spacing: -0.1px;

					@include media.landscape {
						padding: 10px 10px 20px 0;
					}
				}
			}
	
			&__menu {
				position: relative;
				padding-left: 39px;

				@include media.landscape {
					padding-left: 45px;
				}
	
	
				.menu__block {
					display: flex;
					justify-content: center;
					align-items: center;
				}
	
				.menu__list-activ::before {
					content: '';
					position: absolute;
					align-self: center;
					left: 28px;
					border-radius: 8px;
					background: #5932EA;
					width: 250px;
					height: 46px;

					@include media.landscape {
						width: 260px;
						left: 35px;
					}
				}
	
				.menu__arrow {
					position: absolute;
					right: 0;
					background: url(../img/sidebar-icon/arrow-right-gray.svg) no-repeat center;
					width: 16px;
					height: 16px;
					margin-right: 36px;
				}
	
				.menu__arrow-white {
					position: absolute;
					right: 0;
					background: url(../img/sidebar-icon/arrow-right-white.svg) no-repeat center;
					width: 16px;
					height: 16px;
					margin-right: 36px;
				}
	
				.menu__link {
					.menu-text {
						margin-left: 15px;
						color: #9197B3;
						font-weight: 500;
						line-height: normal;
						letter-spacing: -0.14px;
	
					}
	
					.menu-text-activ {
						color: #FFF;
					}
				}
	
			}
	
			nav {
				

				
				li {
					display: flex;
					margin-bottom: 40px;
	
					&:last-child {
						padding-bottom: 597px;

						@include media.landscape {
							padding-bottom: 10px;
						}
					}
				}
	
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 11;
				}
				
			}
	
			&__person-info {
				display: flex;
				padding-left: 28px;
				padding-bottom: 76px;

				@include media.landscape {
					padding-left: 45px;
				}
	
				.person-info__block-text {
					margin-left: 12px;
				}
	
				.person-info__photo {}
	
				.person-info__name {
					color: #000;
					font-weight: 500;
					line-height: normal;
					letter-spacing: 0.14px;
				}
	
				.person-info-description {
					color: #838383;
				}
			}

			.menu__icon {
			display: none;

			@include media.landscape {
				display: flex;
				position: relative;
				cursor: pointer;
				z-index: 350;
				align-items: center;
				top: 20px;
				left: 10px;
				width: 30px;
				height: 21px;

				span {
					height: 3px;
					width: 75%;
					transform: scale(1);
					border-radius: 40px;
					background: blue;
					top: 50%;
				}

				&::before,
				&::after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					border-radius: 40px;
					background: blue;
					transition: all 0.3s ease 0s;
				}

				&::before {
					top: 0;
				}

				&::after {
					bottom: 0;
				}

				&._active span {
					transform: scale(0);
				}

				&._active::before {
					top: 47%;
					transform: rotate(-45deg) translate(0px, -50%);
				}

				&._active::after {
					bottom: 50%;
					transform: rotate(45deg) translate(0px, 50%);
				}
			}
		}

	}

	// Main
	.main {
		width: 1114px;
		overflow: auto;
		
	
	&__block {
		padding-top: 41px;
		

		@include media.landscape {
			padding-top: 20px;
			overflow: auto;
		}
	}

	&__user-name {
		padding-left: 71px;
		color: #000;
		font-size: 24px;
		font-weight: 500;
		line-height: normal;
		
		@include media.landscape {
			padding-left: 50px;
		}
	}
	&__user-name span::after {
		content: url(../img/sidebar-icon/Vector.svg);
	}

	.dashboard-list {
		text-align: left;
		margin-left: 146px;
		margin-top: 146px;
		background: #FFF;
		box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
		border-radius: 40px;
		
			@include media.landscape {
				margin: 50px 30px 30px 0;
				
			}

			&__container {
				overflow: auto;
					
			}

			&__header {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
			}

			&__header-text {

				
				.header-text__title {
					color: #000;
					font-size: 22px;
					font-weight: 600;
					line-height: normal;
					letter-spacing: -0.22px;
					margin: 30px 0 7px 40px;

					@include media.landscape {
						margin: 20px;
					}
				}
				.header-text__subtitle {
					color: #16C098;
					font-size: 14px;
					font-weight: 400;
					line-height: normal;
					letter-spacing: -0.14px;
					margin: 0 0 40px 40px;

					@include media.landscape {
						margin: 20px;
					}
				}
			}

			&__header-search-form {
				@include media.landscape {
					margin-left: 20px;
					margin-bottom: 20px;
				}

			.form-block {
						display: flex;
						align-items: center;
						text-align: center;
						padding-right: 67px;
						position: relative;
	
					.input-search {
						max-width: 216px;
						height: 38px;
						border-radius: 10px;
						background: #F9FBFF;
						font-weight: 400;
						line-height: normal;
						letter-spacing: -0.12px;
						padding-left: 40px;
						margin-bottom: 15px;

						&:hover,
						&:focus {
							border: grey 1px solid;
							border-radius: 10px;

						}

						&::placeholder {
							color: #B5B7C0;
							font-size: 12px;
							font-weight: 400;
							line-height: normal;
							letter-spacing: -0.12px;
						}
					}

					.search-icon {
						position: absolute;
						background: url(../img/sidebar-icon/search-icon.svg) no-repeat center;
						margin-left: 8px;
						width: 24px;
						height: 24px;
						cursor: pointer;
						margin-bottom: 15px;
						

					}
				}
			}

			.table-block {

				overflow: auto;
				margin: 10px;

					table {
						width: 100%;
						border-collapse: collapse;
						text-align: left;

						thead {	
							color: #B5B7C0;
							font-weight: 500;
							line-height: normal;
							letter-spacing: -0.14px;

							

							th {
								padding-bottom: 14px;
								border-bottom: #eee 1px solid;

								&:first-child {
									width: 40px;
								}
								&:last-child {
									width: 40px;
								}
								
							}
						}

						tbody {
							color: #292D32;
							font-weight: 500;
							line-height: normal;
							letter-spacing: -0.14px;

							

							tr:last-child td:last-child {
								border-bottom: #eee 1px solid;
							}
						
							td {
								padding-top: 24px;
								padding-bottom: 24px;
								border-bottom: #eee 1px solid;

								&:first-child {
									border-bottom: transparent 1px solid;
								}

								&:last-child {
									width: 47px;

									border-bottom: transparent 1px solid;
								}
							}

							button {
								text-align: center;
							}

							.table-btn-active {
								width: 79px;
								border-radius: 4px;
								border: 1px solid #00B087;
								background: rgba(22, 192, 152, 0.38);
								padding: 4px 12px;
								color: #008767;
							}
							.table-btn-inactive {
								width: 79px;
								border-radius: 4px;
								border: 1px solid #DF0404;
								background: #FFC5C5;
								padding: 4px 12px;
							}
							
						}
						
					}
			}

			.table-pagination {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 32px 40px 30px 40px;
				
				@include media.landscape {
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: center;
					text-align: center;
					gap: 20px;
					padding-bottom: 20px;
				}

				.pagination-text {
					color: #B5B7C0;
				}

				.pagination {
					display: flex;
				}

				.pagination a {
					color: #404B52;
					padding: 6px 10px;
					transition: background-color .3s;
					margin: 0 6px;
					border-radius: 4px;
					border: 1px solid #EEE;
					background: #F5F5F5;
				}

				.pagination a.active {
					border-radius: 4px;
					border: 1px solid #5932EA;
					background: #5932EA;
					color: #fff;
				}

				.pagination a:hover:not(.active) {
					background-color: #ddd;
				}
			}
		}
	}
}
